#include "zmk-helpers/helper.h"
#include "mouse.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&mt {
    tapping-term-ms = <350>;
    flavor = "balanced";
    quick-tap-ms = <200>;
};

&lt {
    tapping-term-ms = <350>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    behaviors {
        bt_connect_clear_0: bt_connect_clear_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_CONNECT_CLEAR_0";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&bt BT_DISC 0>;

            tapping-term-ms = <200>;
        };

        bt_connect_clear_1: bt_connect_clear_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_CONNECT_CLEAR_1";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&bt BT_DISC 1>;

            tapping-term-ms = <200>;
        };

        bt_connect_clear_2: bt_connect_clear_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_CONNECT_CLEAR_2";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&bt BT_DISC 2>;

            tapping-term-ms = <200>;
        };

        bt_connect_clear_3: bt_connect_clear_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_CONNECT_CLEAR_3";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&bt BT_DISC 3>;

            tapping-term-ms = <200>;
        };

        bt_connect_clear_4: bt_connect_clear_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_CONNECT_CLEAR_4";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&bt BT_DISC 4>;

            tapping-term-ms = <200>;
        };

        del_or_bsp: del_or_bsp {
            compatible = "zmk,behavior-mod-morph";
            label = "DEL_OR_BSP";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        space_or_enter: space_or_enter {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_OR_ENTER";
            bindings = <&kp SPACE>, <&kp ENTER>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        Qescape: Qescape {
            compatible = "zmk,behavior-tap-dance";
            label = "QESCAPE";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp ESCAPE>;
        };

        Pescape: Pescape {
            compatible = "zmk,behavior-tap-dance";
            label = "PESCAPE";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp ESCAPE>;
        };

        TColemak: TColemak {
            compatible = "zmk,behavior-tap-dance";
            label = "TCOLEMAK";
            #binding-cells = <0>;
            bindings = <&kp T>, <&tog 1>;
        };

        BQwerty: BQwerty {
            compatible = "zmk,behavior-tap-dance";
            label = "BQWERTY";
            #binding-cells = <0>;
            bindings = <&kp B>, <&tog 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
  &Qescape          &kp W           &kp E           &kp R             &TColemak      &kp Y            &kp U          &kp I            &kp O                &Pescape
  &mt LEFT_SHIFT A  &kp S           &lt 2 D         &lt 3 F           &kp G          &kp H            &lt 4 J        &lt 2 K          &kp L                &mt RSHIFT SEMICOLON
  &mt LCTRL TAB     &mt LEFT_GUI Z  &mt LEFT_ALT X  &lt 5 C           &kp V          &kp B            &lt 5 N        &mt RIGHT_ALT M  &mt RIGHT_GUI COMMA  &mt RCTRL PERIOD
                                    &kp GRAVE       &kp SINGLE_QUOTE  &del_or_bsp    &space_or_enter  &kp BACKSLASH  &kp SLASH
            >;
        };

        colemak {
            bindings = <
  &Qescape          &kp W           &kp F           &kp P             &BQwerty       &kp J            &kp L    &kp U                 &kp Y                 &kp SEMI
  &mt LEFT_SHIFT A  &kp R           &lt 2 S         &lt 3 T           &kp G          &kp M            &lt 4 N  &lt 2 E               &kp I                 &mt RSHIFT O
  &mt LCTRL Z       &mt LEFT_GUI X  &mt LEFT_ALT C  &lt 5 D           &kp V          &kp K            &lt 5 H  &mt RIGHT_ALT COMMA   &mt RIGHT_GUI PERIOD  &mt RCTRL SLASH
                                    &kp GRAVE       &kp SINGLE_QUOTE  &del_or_bsp    &space_or_enter  &kp TAB  &kp NON_US_BACKSLASH
            >;
        };

        Num+Fn {
            bindings = <
  &kp F1  &kp F2   &kp F3   &kp F4   &none     &kp MINUS  &kp N7  &kp N8  &kp N9  &kp FSLH
  &kp F5  &kp F6   &kp F7   &kp F8   &none     &kp PLUS   &kp N4  &kp N5  &kp N6  &kp ASTERISK
  &kp F9  &kp F10  &kp F11  &kp F12  &none     &kp N0     &kp N1  &kp N2  &kp N3  &kp PERIOD
                   &trans   &trans   &trans    &trans     &trans  &trans
            >;
        };

        mouseNav {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &trans
  &trans  &trans  &trans  &trans  &trans    &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans          &trans           &trans
                  &trans  &trans  &trans    &mkp LCLK       &mkp MCLK       &mkp RCLK
            >;
        };

        arrowNav {
            bindings = <
  &trans  &kp HOME  &kp UP_ARROW  &kp END    &kp PAGE_UP      &trans  &trans  &trans  &trans  &trans
  &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &kp PAGE_DOWN    &trans  &trans  &trans  &trans  &trans
  &trans  &trans    &trans        &trans     &trans           &trans  &trans  &trans  &trans  &trans
                    &trans        &trans     &kp LEFT_GUI     &trans  &trans  &trans
            >;
        };

        Feature_sym {
            bindings = <
  &bt_connect_clear_0  &bt_connect_clear_1  &bt_connect_clear_2  &bt_connect_clear_3   &bt_connect_clear_4    &kp CARET    &kp LBKT              &kp RBKT               &kp DOLLAR  &kp ASTRK
  &trans               &kp C_VOL_DN         &kp K_MUTE           &kp C_VOLUME_UP       &kp PRINTSCREEN        &kp PERCENT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EXCL    &kp AMPS
  &trans               &kp C_BRI_DEC        &kp C_BRI_MIN        &kp C_BRIGHTNESS_INC  &trans                 &kp HASH     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AT      &trans
                                            &trans               &trans                &trans                 &trans       &kp MINUS             &kp UNDER
            >;
        };
    };
};
